.products-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.product-item {
    max-width: 300px;
    margin: 20px;
}
img {
    margin-bottom: auto;
    margin-top: auto;
    max-height: 300px;
    object-fit: contain;
    width: 100%;
}